{% extends "admincuration/header.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <h3 style="color:#214f7c;">Welcome to create page, here you can:</h3> 
    </div>
</div>
<div class="row">
    <div class = "col-xs-1"></div>
    <div class = "col-xs-11">
        <ul class="nav navbar-nav">
            <li >
                <a href="/ad/"><img src="https://cdn4.iconfinder.com/data/icons/system-ui-set/512/triangle-arrow-left-back-last-vector-ui-128.png" style="height:20px; width=100%"></img>Back to Main menu</a>
            </li>
            <li id="topic-sec" onClick="select_sec(this.id)">
		      	<a href="#">Add new topic</a>
		    </li>
            <li id="dataset-sec" onClick="select_sec(this.id)">
                <a href="#">Upload datasets</a>
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class = "col-xs-1"></div>
        <div class = "col-xs-11">
            <!-- <form method="post">-->
            <!--    {% csrf_token %}-->
                
            <!--    {% for field in form %}-->
            <!--        <div class="fieldWrapper">-->
            <!--            {{ field.label_tag }}-->
            <!--            <br>{{ field }}-->
            <!--            {% if field.help_text %}-->
            <!--                <br><small style="color: grey">{{ field.help_text|safe }}</small>-->
            <!--            {% endif %}-->
            <!--            {% for error in field.errors %}-->
            <!--                <p style="color: #f45c42">{{ error }}</p>-->
            <!--            {% endfor %}-->
            <!--        </div>-->
            <!--    {% endfor %}-->
    
            <!--    <button tpye="submit" class="btn btn-primary">Sign Up</button>-->
            <!--</form>-->
        </div>
</div>

{% endblock %}
